TIME_ZONE=Europe/Moscow

# postgres
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# api
HOME_PATH=/srv/api_base
LOGS_PATH=/var/log/api_base
GIN_MODE=debug
SERVER_HTTP_PORT=8080
SERVER_HTTPS_PORT=8443
JWT_SECRET=
PASSWORD_KEY=
