TIME_ZONE=Europe/Moscow

# postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=projname-user
POSTGRES_PASSWORD=projname-is-the-best
POSTGRES_DB=projname

# api
HOME_PATH=/srv/projname
LOGS_PATH=/var/log/projname
GIN_MODE=debug
SERVER_HTTP_PORT=8080
SERVER_HTTPS_PORT=8443
JWT_SECRET=5efc091d98c4f15425ef4f26ea16a771
PASSWORD_KEY=e2281886e5f01e6581e31a0207e894d0
